@charset "UTF-8";

/* SF Webfont */
@font-face{font-family:'SF Compact Display';src:url(webfont/SFCompactDisplay-Semibold.woff2) format("woff2"),url(webfont/SFCompactDisplay-Semibold.woff) format("woff");font-weight:600;font-style:normal}
@font-face{font-family:'SF Compact Display';src:url(webfont/SFCompactDisplay-Medium.woff2) format("woff2"),url(webfont/SFCompactDisplay-Medium.woff) format("woff");font-weight:500;font-style:normal}
@font-face{font-family:'SF Compact Display';src:url(webfont/SFCompactDisplay-Regular.woff2) format("woff2"),url(webfont/SFCompactDisplay-Regular.woff) format("woff");font-weight:400;font-style:normal}
/* Georgia Webfont */
@font-face{font-family:'Georgia';src:url(webfont/Georgia-Italic.woff2) format("woff2"),url(webfont/Georgia-Italic.woff) format("woff");font-weight:400;font-style:italic}

/* Reset Common */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,table,th,td,form,fieldset,legend,textarea,input,select,textarea,button,article,aside,dialog,footer,header,section,footer,nav,figure,main{margin:0;padding:0}
article,aside,dialog,footer,header,section,footer,nav,figure,main{display:block}
html,body{height:100%}
body{-webkit-text-size-adjust:none}
body,input,select,textarea,button{font-family:'SF Compact Display',serif}
fieldset,li,img{border:0;vertical-align:top}
ul,ol{list-style:none}
button{overflow:visible;border:0;background-color:transparent;cursor:pointer}
button::-moz-focus-inner{padding:0;border:0}
address,caption,em{font-style:normal}
a,a:focus,a:active,a:hover{text-decoration:none}
a:hover,a:active,a:focus{background-color:transparent}
input:focus,input:active,textarea:focus,textarea:active{outline:none}
table{border-collapse:collapse;border-spacing:0}
.sr_only,legend{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:1px;line-height:100px;white-space:nowrap}

/* Page temp */
.page_temp {
    position: relative;
}
.page_temp .bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
}
.page_temp .bg img {
    width: 100%;
}
.fullWidth {
    width: 100%;
}
.fullHeight {
    height: 100%;
}
.single-video-wrap #video-injector {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition: 0.2s all ease-in-out;
    z-index: 1;
}
.single-video-wrap #single-preview {
    transition: 0.2s all ease-in-out;
    z-index: 100;
}
.single-video-wrap #video-injector video{
    transition: 0.2s all ease-in-out;
}
.video-wrap {
    position: relative
}
.video-sound {
    position: absolute;
    bottom: 0;
    right: 0;
}
.video-wrap #on {
    display: none;
    z-index: 100;
}
.video-wrap #off{
    display: none;  
    z-index: 100;
}
.video-wrap #play {
    z-index: 20;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.box_avatar video, .box_video video {
    animation: all 0.3s ease-in-out;
}

/*  slide video */
.box_video {
    height: 100%;
    overflow: hidden;
    /*border-radius: 3.9vw;*/
}
.box_video #preview {
    z-index: 0;
    transition: 0.2s all ease-in-out;
}
.box_video video {
    z-index: -1;
}
.box_video #video-injector {
    width: 100%;
    /*border-radius: 3.9vw;*/
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.box_video .video-wrap{
    height: 100%;
}

/* single image */
.single-img-with-cover {
    position: relative;
    width: 100%;
}
.single-img-with-cover .single-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
}
.single-img-with-cover .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.single-img-with-cover .bg *{
    width: 100%;
    height: 100%;
}
.single-video-with-cover {
    position: relative;
    font-size: 0;
}
.single-video-with-cover .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}
.single-video-with-cover .bg * {
    width: 100%;
    height: 100%;
}
/* .fadeIn, .animation {
    opacity: 0;
    transition: all 1s ease-in-out;
} */