<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link href="./assets/vendors/general/bootstrap/dist/css/bootstrap.css" rel="stylesheet" id="bootstrap-css">

    <style>
        html {
            background-color: #56baed;
        }

        body {
            font-family: "Poppins", sans-serif;
            height: 100vh;
        }

        .wrapper {
            background-image: url('./assets/img/background.jpg')
        }

        /* STRUCTURE */

        .wrapper {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: flex-end;
            width: 100%;
            min-height: 100%;
            padding: 20px;
        }

        .formFooter {
            text-align: center;
            display: contents;
        }

        .formFooter a {
            width: 100%;
            padding: 10px;
            color: #ffffff;
            background-color: red;
            border-radius: 10px;
        }
        .formFooter a:first-child{
            margin-bottom: 10px;
        }
    </style>

</head>

<body>
    <div class="wrapper fadeInDown">
        <div class="formFooter">
            <a href="#">Chụp lại</a>
            <a href="#">Lưu hình ảnh</a>
        </div>
    </div>
    <script src="./assets/vendors/general/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="./assets/vendors/general/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>

</body>

</html>